/*!
Name: editor-style
Author: inc2734
Author URI: http://2inc.org
Version: 1.0.0
License: GPLv2 or later
License URI: license.txt
*/
@import url(./css/assets.min.css);
/*==================================================
 * Tags
 *================================================*/
/**
 * body
 */
body {
  -webkit-font-smoothing: antialiased; }

/**
 * heading
 */
.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

/**
 * img
 */
img {
  height: auto;
  max-width: 100%; }

/**
 * a
 */
a {
  transition: color 0.2s, background-color 0.2s, border-color 0.2s, text-decoratin 0.2s; }

/**
 * blockquote
 */
blockquote {
  font-size: 100%; }

/**
 * media
 */
embed,
iframe,
object {
  max-width: 100%; }

/**
 * table
 */
table {
  margin-bottom: 11.5px; }
  table small {
    font-weight: normal; }

/**
 * list
 */
dl {
  margin-bottom: 11.5px; }

/*==================================================
 * WordPress Classes
 *================================================*/
/**
 * .wp-caption
 */
.wp-caption {
  border: none;
  text-align: left;
  background-color: transparent;
  padding: 0;
  margin: 0 0 11.5px;
  border-radius: 0;
  max-width: 100%; }
  .wp-caption-text {
    color: #555555;
    margin-top: 5px;
    font-size: 12px;
    line-height: 1.4; }

/**
 * alignment
 */
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em; }

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em; }

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto; }

/**
 * .bypostauthor
 */
/**
 * Galleries
 */
.gallery {
  margin: 0 0 11.5px; }
  .gallery-item {
    display: inline-block;
    padding: 1.79104477%;
    text-align: center;
    vertical-align: top;
    width: 100%; }
    .gallery-columns-2 .gallery-item {
      max-width: 50%; }
    .gallery-columns-3 .gallery-item {
      max-width: 33.33333%; }
    .gallery-columns-4 .gallery-item {
      max-width: 25%; }
    .gallery-columns-5 .gallery-item {
      max-width: 20%; }
    .gallery-columns-6 .gallery-item {
      max-width: 16.66667%; }
    .gallery-columns-7 .gallery-item {
      max-width: 14.28571%; }
    .gallery-columns-8 .gallery-item {
      max-width: 12.5%; }
    .gallery-columns-9 .gallery-item {
      max-width: 11.11111%; }
  .gallery-icon img {
    margin: 0 auto; }
  .gallery-caption {
    display: block; }
    .gallery-columns-6 .gallery-caption,
    .gallery-columns-7 .gallery-caption,
    .gallery-columns-8 .gallery-caption,
    .gallery-columns-9 .gallery-caption {
      display: none; }

/**
 * Screen reader text
 */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }
  .screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; }

/*==================================================
 * Classes
 *================================================*/
/**
 * .section
 */
.section {
  padding-top: 50px;
  padding-bottom: 50px; }
  .section__title, .section-title {
    font-size: 28px;
    margin: 0 0 45px;
    text-align: center; }
    .section__title .small, .section__title small, .section-title .small, .section-title small {
      display: block;
      font-size: 60%;
      margin-top: 10px; }
  .section .section {
    padding-top: 0;
    padding-bottom: 0; }
    .section .section .section__title, .section .section .section-title {
      margin: 0 0 20px;
      text-align: left; }
  .section--image, .section-image {
    background-size: cover;
    color: #fff; }
  @media (min-width: 768px) {
    .section--fixed, .section-fixed {
      background-attachment: fixed; } }

body {
  padding: 0;
  margin: 10px; }
