#comments, #trackback {
	border-top: #ddd solid 1px;
	margin-top: 30px;
	padding-top: 30px;
	h2 {
		margin: 0 0 20px
	}
}

#comment-form {
	input[type="text"], textarea {
		@extend .form-control;
	}
	#submit {
		@extend .btn;
		@extend .btn-default;
	}
}

.commentlist {
	list-style: none;
	margin: 0;
	padding: 0;
	.comment {
		margin-left: 0;
		padding-left: 0;
		.comment-item {
			margin: 0;
			margin-bottom: 10px;
			padding: 0;
			.comment-header {
				float: left;
				margin-right: 10px;
				.comment-author {
					font-size: $font-size-small;
					line-height: 1.4;
					width: 50px;
					img {
						margin: 0 0 5px;
					}
					cite.fn {}
				}
			}
			.comment-body {
				@include clearfix();
				border: #ddd solid 1px;
				border-radius: 5px;
				padding: 20px 20px 10px;
				overflow: hidden;
				*zoom: 1;
				.comment-meta {
					font-size: $font-size-small;
					margin-bottom: 10px;
				}
				.reply {
					margin-bottom: 10px;
					a {
						color: #fff;
						text-decoration: none;
					}
				}
				p {
					margin: 0 0 10px;
				}
			}
		}
		&.bypostauthor .comment-item .comment-header {
			float: right;
			margin: 0 0 0 10px;
		}
		ul.children {
			list-style: none;
			margin: 0;
			padding: 0 0 0 70px;
			li {}
		}
	}
}

.reply-title {
	@extend .h4;
}

.trackbacklist {
	list-style: none;
	margin: 0;
	padding: 0;
	.pingback, .trackback {
		border-left: $gray-lighter solid 3px;
		margin-left: 0;
		padding-left: 20px;
		.comment-body {
			margin-left: 0;
			.comment-meta .fn {
				display: block;
			}
			p, ul, ol, dl, table {
				margin-top: 10px;
			}
		}
	}
}
#tburl {
	@extend .form-control;
}
