/**
 * .page-header
 */
.page-header {
	background-position: center center;
	background-size: cover;
	margin: 0 0 40px;
	padding: 64px 0;

	@media ( min-width: $screen-sm-min ) {
		background-attachment: fixed;
	}

	&__title {
		font-size: 28px;
		margin: 0;
	}

	&__description {
		margin-top: 20px;
		margin-bottom: -($line-height-computed / 2);
	}
}

/**
 * .no-page-header
 */
.no-page-header {
	height: 40px;
	visibility: hidden;
}
