/*==================================================
 * classes
 *================================================*/
@import 'modules/page-header';
@import 'modules/breadcrumbs';
@import 'modules/sticky';
@import 'modules/entry-meta';
@import 'modules/pagination';
@import 'modules/buttons';
@import 'modules/jumbotron';
@import 'modules/thumbnail';
@import 'modules/widget';
@import 'modules/slider';

/*==================================================
 * layout
 *================================================*/
#container {
	overflow: hidden;
}

.sub-page-contents {
	padding-top: 40px;
}

#main {
	margin-bottom: 60px;

	.page-template-front-page &,
	.page-template-rich-front-page & {
		margin-bottom: 0;
	}
}

.entry {
	@include clearfix();
	
	&__title {
		margin: 0 0 10px;
	}

	&__content {
		@include clearfix();
		
		> *:first-child {
			margin-top: 0;
		}
	}
}

/*==================================================
 * header
 *================================================*/
 @import 'layout/header';

/*==================================================
 * sub
 *================================================*/
 @import 'layout/sub';

/*==================================================
 * footer
 *================================================*/
 @import 'layout/footer';

/*==================================================
 * commentarea
 *================================================*/
@import 'layout/comments';

/*==================================================
 * archive
 *================================================*/
@import 'layout/archive';
@import 'modules/related-posts';
