.breadcrumbs {
	margin-bottom: 30px;
	font-size: $font-size-small;
	color: $gray-light;
	
	a {
		&:link, &:visited, &:hover, &:active {
			color: $gray-light;
		}
	}
	
	strong {
		font-weight: normal;
	}
}
