.page-header {
	background-position: center center;
	background-size: cover;
	margin: 0;
	padding: 64px 0;

	@media ( min-width: $screen-sm-min ) {
		background-attachment: fixed;
	}

	&--has_background-image {
		padding-top: 160px;
		padding-bottom: 160px;
	}

	&__title {
		font-size: 28px;
		margin: 0;
	}

	&__description {
		margin-top: 20px;
		margin-bottom: -($line-height-computed / 2);
	}
}
