/**
 * .entries
 */
.entries {
	.entry {
		margin-bottom: 40px;

		&--has_media {
			margin-bottom: 30px;
			
			&__media {
				float: left;
				width: 60px;

				@media ( min-width: $screen-sm-min ) {
					width: 84px;
				}
			}

			&__link {
				@include square( 48px );
				color: #fff;
				display: block;
				font-size: $font-size-large;
				font-weight: bold;
				overflow: hidden;
				text-align: center;
				text-decoration: none;
				vertical-align: middle;

				@media ( min-width: $screen-sm-min ) {
					@include square( 64px );
				}

				&--text {
				}
			}
				
			&__text {
				@include square( 48px );
				display: table-cell;
				vertical-align: middle;
				position: relative;
				top: -2px;

				@media ( min-width: $screen-sm-min ) {
					@include square( 64px );
				}

				&:after {
					content: '';
					display: block;
					background: #fff;
					margin: 0 auto;
					height: 1px;
					width: 1em;
					position: relative;
					top: -2px;
				}
			}

			&__body {
				overflow: hidden;

				&__title {
					margin-top: 0;
				}
			}
		}
	}

	.entry-meta {
		border-bottom: none;
		padding-bottom: 0;
	}
}
